ipywidgets
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
numpy
scipy
pandas
sklearn
matplotlib
seaborn
pyarrow==0.11.*
statsmodels
ts-flint
gym
pyentrp
dpkt
mpld3
graphviz
torch
torchvision
protobuf

